.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
  }
  
  .logo img {
    height: 50px;
    width: 200px;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-left: 5rem;
  }
  
  .menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    transition: border-bottom 0.2s ease;
  }
  
  .menu a:hover {
    border-bottom: 2px solid #FF6900;
  }
  